*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  line-height: 1.7;
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }

.heading-primary--main {
  display: block;
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: 1rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  /* animation-iteration-count: 3; */
  animation-timing-function: ease-in; }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  padding-bottom: 2rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  /* animation-iteration-count: 3; */
  animation-timing-function: ease-in; }

.heading-secondary {
  margin: 0 auto;
  padding: 1rem;
  text-align: center; }

.header {
  height: 100vh;
  position: relative;
  overflow: hidden;
  justify-content: center;
  background-size: cover;
  background-position: top;
  position: relative;
  transition: all 5s ease; }
  .header__logo-box {
    position: absolute;
    top: 5rem;
    left: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 0.5rem;
    transform: rotateY(0);
    transition: 0.5s all ease; }
    .header__logo-box.showLogo {
      transform: rotateY(180deg);
      background-color: rgba(255, 0, 0, 0.5);
      z-index: 3; }
  .header__logo {
    height: 4.5rem; }
  .header__logo-box:hover {
    transform: rotateY(180deg);
    background-color: rgba(255, 0, 0, 0.5); }
  .header .burgerMenu {
    position: fixed;
    top: 5rem;
    right: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 1.2rem;
    border-radius: 1rem;
    transform: rotate(0);
    z-index: 3;
    transition: 0.5s all ease; }
    .header .burgerMenu .menu-line {
      height: 3px;
      width: 3.5rem;
      background-color: #fff;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
      transform: rotate(0);
      transition: 0.3s all ease; }
    .header .burgerMenu.flipped {
      transform: rotate(180deg) rotateY(180deg);
      background-color: rgba(255, 0, 0, 0.5); }
      .header .burgerMenu.flipped .menu-line:nth-child(1) {
        transform: rotate(45deg) translate(0.75rem, 0.75rem); }
      .header .burgerMenu.flipped .menu-line:nth-child(2) {
        opacity: 0; }
      .header .burgerMenu.flipped .menu-line:nth-child(3) {
        transform: rotate(-45deg) translate(0.75rem, -0.75rem); }
  .header .burgerMenu:hover {
    background-color: rgba(255, 0, 0, 0.5); }
  .header .menu-line {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem; }
  .header__title-box {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(0) skewY(0);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0 1rem;
    transform-origin: 180% 180%;
    transition: all 0.5s ease; }
    .header__title-box h1 {
      transition: all 0.5s ease; }
  .header__title-box:hover {
    transform: translate(-50%, -50%) rotateX(20deg) skewY(1deg);
    background-color: rgba(255, 0, 0, 0.2); }
    .header__title-box:hover h1 {
      color: #000; }
  .header .learn-more {
    position: absolute;
    bottom: 25%;
    left: 50%;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
    width: auto;
    display: inline-block;
    transition: all 0.5s ease;
    animation: floaty 3s linear 0.5ms infinite;
    transform: translate(-50%, -25%); }
  .header .learn-more:hover {
    background-color: rgba(255, 0, 0, 0.5); }

.header::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0; }

.header::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
  background-image: url("../img/bg-main.jpg");
  background-size: cover;
  background-attachment: fixed;
  animation: zoomin 20s linear 0.5ms infinite;
  transition: all 0.2s ease-in-out;
  z-index: -2; }

@keyframes zoomin {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.15); }
  100% {
    transform: scale(1); } }

.textAlt {
  color: #fff;
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in; }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.75;
  visibility: hidden;
  z-index: 2; }
  .menu-nav {
    position: relative; }
  .menu__nav-link {
    text-decoration: none;
    font-size: 2.5rem;
    color: #fff;
    position: relative; }
  .menu__nav-link:hover {
    color: black; }
  .menu.show {
    visibility: visible; }
  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: grey;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    line-height: 2;
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }

.btn-main {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem; }

.learn-more__link {
  text-decoration: none;
  color: inherit; }

@keyframes floaty {
  0% {
    transform: translateY(0) translateX(-50%); }
  50% {
    transform: translateY(-0.5rem) translateX(-50%); }
  100% {
    transform: translateY(0) translateX(-50%); } }

.section-events {
  height: 100vh;
  width: 100%;
  display: grid;
  background-color: #fff;
  color: #000; }
  .section-events .events-header {
    margin: 3.5rem auto;
    width: 100%;
    text-align: center; }
  .section-events .events-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 42rem 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    position: relative; }
    .section-events .events-container .events {
      position: relative;
      background: grey;
      width: 40rem;
      overflow-x: hidden; }
      .section-events .events-container .events::before, .section-events .events-container .events::after {
        content: '';
        position: absolute;
        top: 1.25rem;
        left: 1.25rem;
        right: 1.25rem;
        bottom: 1.25rem; }
      .section-events .events-container .events::before {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transform: scale(0, 1);
        transition: transform ease-out 250ms; }
      .section-events .events-container .events:hover::before {
        transform: scale(1, 1); }
      .section-events .events-container .events__img {
        max-width: 40rem;
        display: block;
        transition: opacity ease-out 250ms;
        backface-visibility: hidden;
        opacity: 1; }
      .section-events .events-container .events__text {
        text-align: center;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        opacity: 0;
        transition: opacity ease-out 250ms; }
      .section-events .events-container .events__display {
        width: 100%;
        margin: 0;
        background-color: transparent; }
      .section-events .events-container .events:hover .events__text {
        opacity: 1;
        z-index: 999; }
      .section-events .events-container .events__title {
        font-size: 3.5rem; }
      .section-events .events-container .events__body {
        font-size: 2rem; }
      .section-events .events-container .events--1 {
        grid-row: 1 / 2;
        grid-column: 1 / 2; }
      .section-events .events-container .events--2 {
        grid-row: 2 / 3;
        grid-column: 1 / 2; }
      .section-events .events-container .events--3 {
        grid-row: 3 / 4;
        grid-column: 1 / 2; }
      .section-events .events-container .events--4 {
        grid-row: 1 / 4;
        grid-column: 2 / 2; }
    .section-events .events-container .events:hover .events__img:not(:nth-child(4)) {
      opacity: 0.4; }
  .section-events .romeBg {
    background-image: url("../img/rome-bg"); }
