// buttons //
.btn-main {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

// links //
.learn-more {
  &__link {
    text-decoration: none;
    color: inherit;
  }
}

// animations //
// .learn-more {
//   transform: translate(-50%, -25%);
// }

@keyframes floaty {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(-0.5rem) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}
