// buttons //
.btn-main {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

// links //
.learn-more {
  &__link {
    text-decoration: none;
    color: inherit;
  }
}

// animations //

// .anim-on,
// .anim-out {
//   position: relative;
//   height: 100vh;
//   width: 100%;
//   overflow: hidden;
// }
// .anim-on:after,
// .anim-out:after {
//   position: absolute;
//   content: '';
//   height: 100%;
//   width: 100%;
//   top: 0px;
//   left: 0px;
//   background: url('../img/');
// }
// .anim-on:after {
//   animation: shrink 12s infinite alternate;
// }
// .anim-out:after {
//   animation: small 6s infinite alternate;
// }
// @keyframes shrink {
//   0% {
//     transform: scale(1.1);
//   }
//   100% {
//     transform: scale(1);
//   }
// }
// @keyframes small {
//   0% {
//     transform: scale(1);
//   }
//   100% {
//     transform: scale(1.1);
//   }
// }
// /* Just for demo */

// // div {
// //   float: left;
// //   margin-right: 20px;
// // }
