.header {
  height: 100vh;
  position: relative;
  overflow: hidden;

  justify-content: center;

  // background-image: url('../img/bg-main.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  transition: all 5s ease;

  &__logo-box {
    position: absolute;
    top: 5rem;
    left: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 0.25rem;
    transform: rotateY(0);
    transition: 0.5s all ease;

    &.showLogo {
      transform: rotateY(180deg);
      background-color: rgba(red, 0.5);
      z-index: 3;
    }
  }
  &__logo {
    height: 3rem;
  }

  &__logo-box:hover {
    transform: rotateY(180deg);
    background-color: rgba(red, 0.5);
  }

  .burgerMenu {
    position: absolute;
    top: 5rem;
    right: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    transform: rotate(0);
    z-index: 3;
    transition: 0.5s all ease;

    .menu-line {
      height: 3px;
      width: 2.5rem;
      background-color: #fff;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      transform: rotate(0);
      transition: 0.3s all ease;
    }

    &.flipped {
      transform: rotate(180deg) rotateY(180deg);
      background-color: rgba(red, 0.5);

      .menu-line {
        //line 1 hamburger //
        &:nth-child(1) {
          transform: rotate(45deg) translate(0.5rem, 0.5rem);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(0.5rem, -0.5rem);
        }
      }
    }
  }

  .burgerMenu:hover {
    background-color: rgba(red, 0.5);
  }

  &__title-box {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(0) skewY(0);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    // width: 70%;
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0 1rem;
    transform-origin: 180% 180%;
    transition: all 0.5s ease;

    h1 {
      transition: all 0.5s ease;
    }
  }

  &__title-box:hover {
    transform: translate(-50%, -50%) rotateX(20deg) skewY(1deg);
    // transform-origin: 45% 45%;
    background-color: rgba(red, 0.2);

    h1 {
      color: #000;
    }
  }

  .learn-more {
    position: absolute;
    bottom: 25%;
    left: 50%;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
    width: auto;
    display: inline-block;
    transition: all 0.5s ease;
    animation: floaty 3s linear 0.5ms infinite;
    transform: translate(-50%, -25%);
  }

  .learn-more:hover {
    background-color: rgba(red, 0.5);
  }
}

.header::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
}

.header::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
  background-image: url('../img/bg-main.jpg');
  background-size: cover;
  background-attachment: fixed;
  animation: zoomin 20s linear 0.5ms infinite;
  transition: all 0.2s ease-in-out;
  z-index: -2;
}

@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.bgTrans {
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
  background-image: url('../img/rome-bg.jpg');
  background-color: rgba(0, 0, 0, 0);
  transition: all 5s ease;

  &__logo-box {
    position: absolute;
    top: 5rem;
    left: 5rem;
  }
  &__logo {
    height: 4rem;
  }
  &__title-box {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.textAlt {
  color: #fff;
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;

  animation-timing-function: ease-in;
}
